html{
    font-size: 16px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    color:#FFFFFF;
}

header {
    background-color: #282c34;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}
.pick-type{
    text-align: center;

    display: flex;
    flex-direction: column;

}
.pick-type h2{
    margin: 2rem 1.5rem;
}

#conversionType ul {
    list-style: none;
    border: 5px solid black;
    border-radius: 15px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: auto;
    width: 85%;
    white-space: nowrap;
    background-color:#2e3131;
}
/* Extra small devices (phones, up to 576px) */
@media (max-width: 1040px) {
    #conversionType ul {
        justify-content: flex-start;
        padding: 0;
    }
}

#conversionType li {
    padding: 0.85rem 2rem;
    margin: 0 1.5rem;
    text-align: center;
    background-color: #222;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto;
    flex-shrink: 0; /* Prevent shrinking of items */
    border-radius: 7px;

}


/* Add animation effect for currently selected conversion type */
#conversionType ul li.active {
    background-color: #0c5207;
    color: #fff;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Add hover effect for unit selection boxes */
#conversionType ul li:hover {

    box-shadow: 0 0 75px 25px #0c5207;
}
#conversionType ul li.active:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.99);
}

.main {
    background-color: #282c34;
    padding: 1.75rem;
}

label {
    display: block;
    font-weight: bold;
    color: #ffffff;

}

.main-container{
    display: flex;
    flex-direction: column;
    align-content: center;

}
.main-container > #convertButton{
    align-self: center;
}
.unit-container{

    display: inline-flex;
    justify-content: space-evenly;
    align-content: center;
    height:85%;
    padding:1.2rem 1.75rem;

}

.unit-container > div{

    width:50%;
    margin: 0.7rem 1.3rem;
    text-align: center;
    height:100%;
}
.input-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: 1.2rem 1.7rem;
    border:5px solid white;
}

.input-container >div{
    padding:1.2rem 1.5rem;
}

#convertedValue{
    background-color: #bbb;
    width:30%;
}

#inputValue{
    width: 30%;
}
#inputValue:hover{
    box-shadow: 0 0 15px #0c5207;
}

select,
input[type="text"] {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 90%;
    color: #1f1f1f;
    text-align: center;
}
input[type="text"] {
    border: none;
}

button {
    background-color: #61dafb;
    color: #282c34;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    transition: background-color 0.3s;

}
#convertButton{
    text-align: center;
    width: 35%;
}

button:hover {
    background-color: #555;
}
